*{
    box-sizing: border-box;
}

body{
    background-size:cover;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}

.container{
    padding: 20px;
    max-width: 350px;
    background: rgba(255,255,255,0.95);
    /* border: 10px solid rgba(0,0,0,0.1)  */
    box-shadow: 0 0 0 10px rgba(112, 112, 112, 0.1);
}

.menu{
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.menu__item{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}


.menu__item label {
    flex:1;
    cursor: pointer;
	font-weight: 600;
}

.menu__item input {
    display: none;
}


.menu__item input + label:before {
    content: '⬜️';
    margin-right: 10px;
}

.menu__item input:checked + label:before {
    content: 'X';
}

.add-items {
    margin-top: 20px;
}

.add-items input, .form-button, .delete-button {
    padding:10px;
    outline:0;
    border:1px solid rgba(0,0,0,0.1);
}

button{
    cursor: pointer;
}

.delete-button{
    padding: 5px;
}

.faded{
    color: rgba(0,0,0,0.6);
}

.svg{
    width: 200px;
    height: 200px;
    fill: white;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    padding: 20px 20px 0px 20px;
    margin-bottom: 30px;
}